---
interface Props {
  phone: string;
  message?: string;
  text?: string;
  clases?: string;
}

const { phone, message = "", text = "", clases = "" } = Astro.props;

const encodedMessage = encodeURIComponent(message);
const waLink = `https://wa.me/${phone}?text=${encodedMessage}`;
---

<botton>
  <a href={waLink} target="_blank" rel="noopener noreferrer" class={clases}>
    <i class="fab fa-whatsapp text-xl"></i>
    {text}
  </a>
</botton>
