---
//import Footer from "../components/Footer/Footer.astro
import GlobalSeo from "../components/Seo/GlobalSeo.astro";
import Footer from "../components/Footer/Footer.astro";
import "@fontsource-variable/inter";
import "../styles/global.css";

import "animate.css";
import "aos/dist/aos.css";
import WSPBtn from "../components/WSPBtn/WSPBtn.astro";

//import DarkModeToggle from "../components/DarkModeToggle/DarkModeToggle.astro";
import Navbar from "../components/Navbar/Navbar.astro";

export interface Props {
  title?: string;
  description?: string;
  seo?: {
    openGraph?: any;
    twitter?: any;
    extend?: any;
    schemaData?: any; // Cambiado de 'schema' a 'schemaData'
  };
}

const { title, description, seo } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <GlobalSeo
      title={title}
      description={description}
      openGraph={seo?.openGraph}
      twitter={seo?.twitter}
      extend={seo?.extend}
      schemaData={seo?.schemaData}
    />
  </head>
  <body>
    <!-- <Navbar client:only="react" /> -->

    <Navbar />
    <slot />
    <WSPBtn />
    <Footer />

    <script src="../js/aos"></script>
  </body>
</html>
